body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: Iranian Sans;
    src: url(/Fonts/Iranian\ Sans.ttf);

    font-family: VaziriL;
    src: url(/Fonts/Vaziri/Vazir-Light.eot),
         url(/Fonts/Vazir-Light.ttf) format('ttf'),
         url(/Fonts/Vaziri/Vazir-Light.woff) format('woff'),
         url(/Fonts/Vaziri/Vazir-Light.woff2) format('woff2');

}

@font-face {
    font-family: VaziriB;
    src: url(/Fonts/Vaziri/Vazir-Bold.eot),
         url(/Fonts/Vaziri/Vazir-Bold.ttf) format('ttf'),
         url(/Fonts/Vaziri/Vazir-Bold.woff) format('woff'),
         url(/Fonts/Vaziri/Vazir-Bold.woff2) format('woff2');
}

@font-face {
    font-family: VaziriT;
    src: url(/Fonts/Vaziri/Vazir-Thin.eot),
         url(/Fonts/Vaziri/Vazir-Thin.ttf) format('ttf'),
         url(/Fonts/Vaziri/Vazir-Thin.woff) format('woff'),
         url(/Fonts/Vaziri/Vazir-Thin.woff2) format('woff2');
}

@font-face {
    font-family: VaziriM;
    src: url(/Fonts/Vaziri/Vazir-Medium.eot),
         url(/Fonts/Vaziri/Vazir-Medium.ttf) format('ttf'),
         url(/Fonts/Vaziri/Vazir-Medium.woff) format('woff'),
         url(/Fonts/Vaziri/Vazir-Medium.woff2) format('woff2');
}

@font-face {
font-family: shabnamb;
src: url(/Fonts/Shabnam/Shabnam-Bold.eot),
     url(/Fonts/Shabnam/Shabnam-Bold.ttf) format('ttf'),
     url(/Fonts/Shabnam/Shabnam-Bold.woff) format('woff'),
     url(/Fonts/Shabnam/Shabnam-Bold.woff2) format('woff2');

}

@font-face {
font-family: shabnamm;
src: url(/Fonts/Shabnam/Shabnam-Medium.eot),
     url(/Fonts/Shabnam/Shabnam-Medium.ttf) format('ttf'),
     url(/Fonts/Shabnam/Shabnam-Medium.woff) format('woff'),
     url(/Fonts/Shabnam/Shabnam-Medium.woff2) format('woff2');
}

@font-face {
font-family: shabnaml;
src: url(/Fonts/Shabnam/Shabnam-Light.eot),
     url(/Fonts/Shabnam/Shabnam-Light.ttf) format('ttf'),
     url(/Fonts/Shabnam/Shabnam-Light.woff) format('woff'),
     url(/Fonts/Shabnam/Shabnam-Light.woff2) format('woff2');
}

@font-face {
font-family: shabnamt;
src: url(/Fonts/Shabnam/Shabnam-Thin.eot),
     url(/Fonts/Shabnam/Shabnam-Thin.ttf) format('ttf'),
     url(/Fonts/Shabnam/Shabnam-Thin.woff) format('woff'),
     url(/Fonts/Shabnam/Shabnam-Thin.woff2) format('woff2');
}

.holder {
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 200px;
    left: 0;
    z-index: 1;
}

.back {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 1s;
    overflow: hidden;
}

.back:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 195, 255);
    font-family: shabnamm;
    font-size: 15px;
    position: absolute;
    cursor: pointer;
    top: 140px;
    width: 200px;
}

.up {
    color: white;
    font-family: shabnamt;
    position: absolute;
    top: 70px;
}

.down {
    color: white;
    position: absolute;
    top: 100px;
    font-size: 17px;
    font-family: shabnamt;
}

.container {
    height: 100vh;
    top: 0;
    width: 100%;
    background-size: 1350px;
    background-position-y: -200px;
    z-index: -3;
}

.title {
    color: aqua;
    font-size: 25px;
    font-family: vaziril;
    position: absolute;
}

.login {
    position: absolute;
    opacity: 0;
    top: 100px;
    left: 50px;
    width: 800px;
    height: 250px;
    background-color: black;
    z-index: 0;
}

.nav-hold {
    position: fixed;
    width: 99vw;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    z-index: 5;
    transition: ease-out 1s;
}

.navbar {
    display: flex;
    position: absolute;
    right: 50px;
    z-index: 2;
}

.opt-closed {
    padding: 10px 20px;
    font-family: vaziril;
    cursor: pointer;
    z-index: 2;
    color: rgb(255, 255, 255);
}

.toys-drop {
    position: fixed;
    width: 99vw;
    height: 400px;
    background-color: rgb(255, 255, 255);
    top: -350px;
    left: 0;
    display: flex;
    justify-content: end;
    z-index: 2;
}

.item {
    color: rgb(0, 0, 0);
    font-family: vaziril;
    font-size: 15px;
    position: relative;
    top: 25px;
    height: 20px;
    cursor: default;
}

.i0 {
    position: absolute;
    right: 1070px;
}

.i1 {
    position: absolute;
    right: 870px;
}

.i2 {
    position: absolute;
    right: 670px;
}

.i3 {
    position: absolute;
    right: 470px;
}

.i4 {
    position: absolute;
    right: 270px;
}

.i5 {
    position: absolute;
    right: 70px;
}

.clothes {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 70px;
}

.links {
    text-decoration: none;
    font-family: vaziril;
    font-size: 13px;
    cursor: pointer;
    color: black;
}

.img1 {
    position: absolute;
    height: 80px;
    top: 53px;
    right: 70px;
}

.img2 {
    position: absolute;
    height: 80px;
    top: 53px;
    right: 270px; 
}

.img3 {
    position: absolute;
    height: 80px;
    top: 53px;
    right: 470px;
}

.img4 {
    position: absolute;
    height: 80px;
    top: 53px;
    right: 670px;
}

.img5 {
    position: absolute;
    height: 80px;
    top: 53px;
    right: 870px;
}

.img6 {
    position: absolute;
    height: 80px;
    top: 53px;
    right: 1070px;
}

.dolls {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 270px;
}

.control {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 470px;
}

.educational {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 670px;
}

.public {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 870px;
}

.adults {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 1070px;
}

.branch-drop {
    position: fixed;
    width: 99vw;
    height: 400px;
    background-color: rgb(255, 255, 255);
    top: -350px;
    left: 0;
    display: flex;
    justify-content: end;
    z-index: 2;
}

.fader {
    position: fixed;
    height: 100vh;
    bottom: 0;
    width: 100vw;
    opacity: 0;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 1s;
}

.tehranpars {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 70px;
}

.niyavaran {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 270px;
}

.poonak {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 470px;
}

.ostad {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 670px;
}

.kian {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 870px;
}

.saadat {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99vw;
    right: 1070px;
}

.links:hover {
    color: rgb(0, 195, 255);
}

.test {
    z-index: 11;
    position: relative;
}

.hover-line {
    background-color: aqua;
    height: 1px;
    position: absolute;
    top: 45px;;
    opacity: 0;
    transition: opacity 0.5s, right 0.5s, width 0.5s;
}

.slider {
    position: absolute;
    width: 1360px;
}

.slider-holder {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

.n1 {
    position: absolute;
    top: -100px;
}

.n2 {
    position: absolute;
    top: -200px
}

.n3 {
    top: -10px;
    width: 100%;
}

.n4 {
    position: absolute;
    top: px;
}

.bug-fix {
    z-index: -5;
    top: -100px;
}

.box {
    position: absolute;
    top: 90%;
    width: 100vw;
    display: flex;
    justify-content: center
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid aqua;
    border-right: 2px solid aqua;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px,-10px);
    }
    50% {opacity: 1;}
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(15px,15px);
    }
}

.overlay {
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.7),
    rgba(0,0,0,1));
    height: 120px;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.svg {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 5px;
    left: 150px;
}

.st0{
    display:none;
}

.st1{
    display:inline;
}

.st2{
    fill:#00ffdd;
    size: 10px;
}

.st3{
    display:inline;
}

.st3,.st4{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#141414;
}

.logo-text {
    color: aqua;
    font-size: 13px;
    position: absolute;
    top: 10px;
    left: 70px;
    font-family: shabnamm;
}

.logo-slogan {
    color: white;
    font-size: 10.4px;
    position: absolute;
    left: 70px;
    top: 29px;
    font-family: shabnamt;
}

/*    1      */
@media (1200px < width < 1280px) {
    .n2, .n3, .n4 {
        width: 100%;
        top: -100px;
    }

    .n1, .bug-fix {
        top: -100px;
    }

    .slider-holder {
        height: 80%;
    }

    .slider {
        width: 100%;
    }
}

/*    2      */
@media (1025px < width < 1201px) {
    .n2, .n3 {
        width: 100%;
        top: -100px;
    }

    .n1, .bug-fix{
        top: -120px;
    }

    .n4 {
        width: 100%;
        top: 10px;
    }

    .slider-holder {
       height: 70%; 
    }

    .slider {
        width: 100%;
    }
}

/*  3     */
@media (769px < width < 1026px) {
    .n2, .n3, .n4 {
        width: 100%;
        top: -70px;
    }

    .n1, .bug-fix {
        top: -25px;
    }

    .slider-holder {
        height: 63%;
    }

    .slider {
        width: 100%;
    }
}

/*   4    */
@media (481px < width < 770px) {
    .n4 {
        top: 5px;
    }

    .n1, .bug-fix {
        top: 40px;
        width: 150%;
    }

    .n2 {
        top: -10px;
    }

    .n3 {
        top: -10px;
    }

    .slider-holder {
        height: 48%;
    }

    .slider {
        width: 100%;
    }
}

/*  mobile size */
@media (320px < width < 482px) {
    .n2, .n3, .n4 {
        width: 100%;
        top: 46px;
    }

    .slider-holder {
        height: 38%;
    }

    .n1, .bug-fix {
        top: 50px;
    }

    .n2 {
        top: 30px;
    }

    .slider {
        width: 110%;
    }
}

@media (width < 321px) {
    .slider-holder {
        visibility: hidden;
    }
}